.main {
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 100vh;
  overflow: hidden;
}

.main img {
  object-fit: cover;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 350px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.description {
  position: absolute;
  top: 35%;
  left: 65%;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.description p {
  margin: 0px;
  margin-bottom: 3px;
}

.description svg {
  transform: scale(2);
  margin-bottom: 10px;
}

/* ------------------------- */
/*       @media (max-width: 768px) {

  .main {
    height: 70vh;
    margin-bottom: 60vh;
  }


  .description {
    top: 60%;
    left: 30%;
    width: 80%;
    font-size: 18px;
  }

  .description svg {
    transform: scale(1.5);
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {

  .slider p {
    font-size: 55px;
  }

  .description {
    font-size: 16px;
    left: 55%;
  }
}      */
/* ------------------------- */



@media (max-width: 768px) {
  .main {
    position: relative;
    display: flex;
    height: 100vh;
    margin-bottom: 100vh;
    overflow: hidden;
  }
  
  .main img {
    object-fit: cover;
  }
  .slider p {
    font-size: 90px;
  }

  .description {
    top: 80%;
    left: 69%;
    font-size: 18px;
  }

  .main {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .main {
    position: relative;
    display: flex;
    height: 100vh;
    margin-bottom: 100vh;
    overflow: hidden;
  }
  
  .main img {
    object-fit: cover;
  }
  .slider p {
    font-size: 60px;
  }

  .description {
    top: 75%;
    left: 8%;
    font-size: 16px;
  }
}

