.main {
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 8vh;
  overflow: hidden;
}

.main img {
  object-fit: cover;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 350px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.description {
  position: absolute;
  top: 35%;
  left: 65%;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.description p {
  margin: 0px;
  margin-bottom: 3px;
}

.description svg {
  transform: scale(2);
  margin-bottom: 10px;
}

/* Improved responsive layout for tablets */
@media (max-width: 768px) {
  .sliderContainer {
    top: calc(100vh - 250px);
  }

  .slider p {
    font-size: 120px;
    padding-right: 30px;
  }

  .description {
    top: 45%;
    left: 60%;
    font-size: 20px;
  }

  .description svg {
    transform: scale(1.8);
    margin-bottom: 8px;
  }
}

/* Optimized responsive layout for mobile devices */
@media (max-width: 480px) {
  .sliderContainer {
    top: calc(100vh - 180px);
  }

  .slider p {
    font-size: 70px;
    padding-right: 20px;
  }

  .description {
    top: 50%;
    left: 10%;
    font-size: 16px;
  }

  .description svg {
    transform: scale(1.5);
    margin-bottom: 6px;
  }
}

/* Extra small screens optimization */
@media (max-width: 380px) {
  .sliderContainer {
    top: calc(100vh - 150px);
  }

  .slider p {
    font-size: 50px;
    padding-right: 15px;
  }

  .description {
    top: 55%;
    left: 8%;
    font-size: 14px;
  }

  .description svg {
    transform: scale(1.3);
    margin-bottom: 5px;
  }
}
