.slidingImages {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
    margin-top: 200px;
    background-color: white;
    z-index: 1;
  }
  
  .slidingImages .slider {
    display: flex;
    position: relative;
    gap: 3vw;
    width: 120vw;
    left: -10vw;
  }
  
  .slidingImages .slider .project {
    width: 25%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slidingImages .slider .project .imageContainer {
    position: relative;
    width: 80%;
    height: 80%;
  }
  
  .slidingImages .slider .project .imageContainer img {
    object-fit: cover;
  }
  
  .slidingImages .circleContainer {
    background-color: red;
    position: relative;
    margin-top: 100px;
  }
  
  .slidingImages .circleContainer .circle {
    height: 1550%;
    width: 120%;
    left: -10%;
    border-radius: 0 0 50% 50%;
    background-color: white;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
  }
  
  /* Hide slider on mobile devices only (below 768px) */
  @media (max-width: 767px) {
    .slidingImages {
      display: none;
    }
  }

  @media (max-width: 1400px) {
    .slidingImages {
      gap: 2.5vw;
      margin-top: 160px;
    }
  
    .slidingImages .slider {
      width: 115vw;
      left: -7.5vw;
    }
  
    .slidingImages .slider .project {
      height: 18vw;
    }
  }

  @media (max-width: 1200px) {
    .slidingImages {
      gap: 2.2vw;
      margin-top: 140px;
    }
  
    .slidingImages .slider {
      width: 110vw;
      left: -5vw;
    }
  
    .slidingImages .slider .project {
      height: 20vw;
    }
  }

  @media (max-width: 992px) {
    .slidingImages {
      gap: 2vw;
      margin-top: 120px;
    }
  
    .slidingImages .slider {
      width: 108vw;
      left: -4vw;
    }
  
    .slidingImages .slider .project {
      width: 28%;
      height: 22vw;
    }
  
    .slidingImages .slider .project .imageContainer {
      width: 85%;
      height: 85%;
    }
  
    .slidingImages .circleContainer .circle {
      height: 1400%;
    }
  }
  
  @media (max-width: 430px) {
    .slidingImages {
      display: none;
    }
  }
      