body{
    margin: 0px;
    
    font-family: var(--font-inter), sans-serif;     /* cursor: wait; Add after Preloader*/
    overflow-x: hidden; /* prevent horizontal scroll */
    overflow-y: auto;   /* allow vertical scroll */
}
