.hero {
    padding-top: 150px;
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  /* Left side */
  .content {
    flex: 1;
    padding-left: 450px;
    display: flex;
    flex-direction: column;
    
  }
  
  .text {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 420px;
    color: #111;
  }
  
  .subText {
    margin-top: 2rem;
    font-size: 0.95rem;
    color: #9a9a9a;
  }
  
  /* Right side */
  .imageWrapper {
    flex: 1.2;
    position: relative;
    overflow: hidden;
  }
  
  /* This moves for parallax */
  .imageInner {
    position: absolute;
    inset: -10%;
  }
  
  .image {
    object-fit: cover;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .hero {
      padding-top: 0;
      flex-direction: column;
    }
  
    .content {
      padding: 4rem 2rem;
    }
  
    .imageWrapper {
      margin-top: 0;
      height: 60vh;
    }
    .text{
        font-size: medium;
    }
  }
  