.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141516;
  position: relative;
}

.contact .button {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
}

.contact .button p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.contact .body {
  padding-top: 200px;
  width: 100%;
  max-width: 1800px;
  background-color: #141516;
}

.contact .body .title {
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
}

.contact .body .title span {
  display: flex;
  align-items: center;
}

.contact .body .title span .imageContainer {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.contact .body .title span .imageContainer img {
  object-fit: cover;
}

.contact .body .title span h2 {
  margin-left: 0.3em;
}

.contact .body .title h2 {
  font-size: 5vw;
  margin: 0px;
  font-weight: 300;
}

.contact .body .title .buttonContainer {
  position: absolute;
  left: calc(100% - 400px);
  top: calc(100% - 105px);
}

.contact .body .title .buttonContainer .button {
  width: 180px;
  height: 180px;
  background-color: #455ce9;
  color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px;
}

.contact .body .title .buttonContainer .button p {
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  z-index: 2;
  position: relative;
}

.contact .body .title svg {
  position: absolute;
  top: 30%;
  left: 100%;
}

.contact .body .nav {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

.contact .body .info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
}

.contact .body .info div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.contact .body .info div p,
.contact .body .info div h3 {
  margin: 0px;
  padding: 2.5px;
  cursor: pointer;
}

.contact .body .info div p::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  display: block;
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.contact .body .info div p:hover::after {
  width: 100%;
}

.contact .body .info div span {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact .body .info div h3 {
  color: grey;
  cursor: default;
  font-weight: 300;
  font-size: 1em;
}

@media (max-width: 768px) {
  .contact .curve {
    height: 80px;
  }

  .contact {
    margin-top: 0;
    margin-bottom: auto;
    position: relative;
    z-index: 1;
  }

  .contact .body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .contact .body .title {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
  }

  .contact .body .title h2 {
    font-size: 9vw;
    font-weight: 400;
  }

  .contact .body .title span .imageContainer {
    width: 50px;
    height: 50px;
  }

  .contact .body .title .buttonContainer {
    position: absolute;
    right: 100px;
    margin-bottom: 40px;
    left: auto;
    top: calc(100% - 70px);
    margin-top: 0;
  }

  .contact .body .title .buttonContainer .button {
    width: 120px;
    height: 120px;
    position: relative;
  }

  .contact .body .title .buttonContainer .button p {
    font-size: 13px;
  }

  .contact .body .title svg {
    display: none;
  }

  .contact .body .nav {
    flex-direction: column;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 15px;
  }

  .contact .body .info {
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    padding: 0 20px 40px 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .contact .body .info > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .contact .body .info > div:first-child {
    order: 1;
  }

  .contact .body .info > div:last-child {
    order: 2;
  }

  .contact .body .info .localTime {
    display: flex;
  }

  .contact .body .info .socialLinks {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
  }

  .contact .body .info div span {
    gap: 15px;
    width: 100%;
  }

  .contact .body .info div h3 {
    font-size: 0.7em;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }

  .contact .body .info div p {
    font-size: 1em;
  }
}

@media (max-width: 1400px) {
  .contact .body {
    max-width: 1200px;
  }

  .contact .body .title {
    margin-left: 140px;
    margin-right: 140px;
  }

  .contact .body .title h2 {
    font-size: 4.5vw;
  }

  .contact .body .title .buttonContainer {
    left: calc(100% - 340px);
    top: calc(100% - 95px);
  }

  .contact .body .title .buttonContainer .button {
    width: 160px;
    height: 160px;
  }

  .contact .body .nav {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media (max-width: 1200px) {
  .contact .body {
    max-width: 1000px;
  }

  .contact .body .title {
    margin-left: 100px;
    margin-right: 100px;
  }

  .contact .body .title h2 {
    font-size: 4.8vw;
  }

  .contact .body .title .buttonContainer {
    left: calc(100% - 300px);
    top: calc(100% - 90px);
  }

  .contact .body .title .buttonContainer .button {
    width: 150px;
    height: 150px;
  }

  .contact .body .nav {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .contact .body {
    padding-top: 120px;
    max-width: 900px;
  }

  .contact .body .title {
    margin-left: 60px;
    margin-right: 60px;
  }

  .contact .body .title h2 {
    font-size: 6vw;
  }

  .contact .body .title .buttonContainer {
    left: calc(100% - 260px);
    top: calc(100% - 85px);
  }

  .contact .body .title .buttonContainer .button {
    width: 130px;
    height: 130px;
  }

  .contact .body .nav {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 576px) {

  .contact .body {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .contact .body .title {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;
  }

  .contact .body .title h2 {
    font-size: 10vw;
  }

  .contact .body .title span .imageContainer {
    width: 45px;
    height: 45px;
  }

  .contact .body .title .buttonContainer {
    right: 60px;
    top: calc(100% - 60px);
  }

  .contact .body .title .buttonContainer .button {
    width: 100px;
    height: 100px;
  }

  .contact .body .title .buttonContainer .button p {
    font-size: 12px;
  }

  .contact .body .nav {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    gap: 10px;
  }

  .contact .body .info {
    margin-top: 40px;
    padding: 0 15px 30px 15px;
    gap: 20px;
  }

  .contact .body .info div h3 {
    font-size: 0.65em;
  }

  .contact .body .info div p {
    font-size: 0.95em;
  }
}
