.description {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 200px;
    margin-bottom: 220px;
    display: flex;
    justify-content: center;
  }
  
  .description .body {
    max-width: 1400px;
    display: flex;
    gap: 50px;
    position: relative;
  }
  
  .description .body p {
    margin: 0px;
  }
  
  .description .body p:nth-of-type(1) {
    font-size: 36px;
    gap: 8px;
    line-height: 1.3;
  }
  
  .description .body p:nth-of-type(1) span {
    margin-right: 3px;
  }
  
  .description .body p:nth-of-type(1) .mask {
    position: relative;
    overflow: hidden;
    display: inline-flex;
  }
  
  .description .body p:nth-of-type(2) {
    font-size: 18px;
    width: 80%;
    font-weight: 300;
  }
  
  .description .body .button {
    top: 0%;
    left: calc(100% - 200px);
    width: 180px;
    height: 180px;
    background-color: #1c1d20;
    color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .description .body .button p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }
  
  .description .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid grey;
  }
  
  /* Mobile responsive styles (max-width: 768px) - stacked layout with button at bottom */
  @media (max-width: 768px) {
    .description {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 80px;
      margin-bottom: 70px;
    }
  
    .description .body {
      flex-direction: column;
      gap: 30px;
    }
  
    .description .body p:nth-of-type(1) {
      font-size: 28px;
      line-height: 1.4;
    }
  
    .description .body p:nth-of-type(2) {
      font-size: 16px;
      width: 100%;
      
    }
  
    .description .body .button {
      position: relative;
      left: 0;
      right: 0;
      margin-top: 5px;
      margin-left: 200px;
      width: 140px;
      height: 140px;
    }
  
    .description .body .button p {
      font-size: 14px;
    }
  }
  